@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap"); */

:root {
  --mainBrown: #795548;
  --darkBrown: #5d4037;
  --mainOrange: rgb(255, 152, 0);
  --mainGrey: #f9f9f9;
  --mainWhite: #fafafa;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: "Quicksand", sans-serif !important;
  /* font-family: "New Tegomin", serif !important; */
}

.nav-expand {
  justify-content: flex-end !important;
  flex-grow: 1 !important;
}

.text-point {
  color: var(--mainOrange);
}
.cart-icon {
  cursor: pointer;
  color: var(--mainOrange);
  font-size: 2rem;
}
.default-background,
.about-background {
  min-height: calc(100vh - 74px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1 !important;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-position: center;
  background-size: cover;
}
.about-background {
  min-height: 60vh;
}
.btn-point {
  color: var(--mainOrange) !important ;
  border-color: var(--mainOrange) !important;
}
.btn-point:hover {
  color: var(--mainBrown) !important ;
  border-color: var(--mainBrown) !important;
}
.title {
  color: var(--darkBrown) !important;
}
.menu,
.contact {
  background: #fff3e0;
}
.footer {
  background: var(--mainBrown);
  color: #fff;
}
